USE [master]
GO
/****** Object:  Database [GreenRoom]    Script Date: 3/13/2024 6:24:47 PM ******/
CREATE DATABASE [GreenRoom]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GreenRoom', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\GreenRoom.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GreenRoom_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\GreenRoom_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GreenRoom].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GreenRoom]
GO
/****** Object:  Table [dbo].[account]    Script Date: 3/13/2024 6:24:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[account](
	[userID] [int] IDENTITY(1,1) NOT NULL,
	[userMail] [nvarchar](max) NOT NULL,
	[userPassword] [nvarchar](max) NOT NULL,
	[userRole] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[userID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bill]    Script Date: 3/13/2024 6:24:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bill](
	[billID] [int] IDENTITY(1,1) NOT NULL,
	[roomID] [int] NOT NULL,
	[service] [money] NOT NULL,
	[electric] [money] NOT NULL,
	[water] [money] NOT NULL,
	[roomFee] [money] NOT NULL,
	[other] [money] NOT NULL,
	[penMoney] [money] NOT NULL,
	[createAt] [datetime] NOT NULL,
	[deadline] [datetime] NOT NULL,
	[payAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[billID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[guideline]    Script Date: 3/13/2024 6:24:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[guideline](
	[guideID] [int] IDENTITY(1,1) NOT NULL,
	[guideName] [nvarchar](max) NOT NULL,
	[img] [nvarchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[guideID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[item]    Script Date: 3/13/2024 6:24:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[item](
	[itemID] [int] IDENTITY(1,1) NOT NULL,
	[itemName] [nvarchar](max) NOT NULL,
	[itemImg] [nvarchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[itemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[news]    Script Date: 3/13/2024 6:24:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[news](
	[newID] [int] IDENTITY(1,1) NOT NULL,
	[newTitle] [nvarchar](max) NOT NULL,
	[description] [nvarchar](max) NOT NULL,
	[img] [nvarchar](max) NULL,
	[creatAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[newID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[penalty]    Script Date: 3/13/2024 6:24:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[penalty](
	[penID] [int] IDENTITY(1,1) NOT NULL,
	[reportID] [int] NOT NULL,
	[accuseID] [int] NOT NULL,
	[roomID] [int] NOT NULL,
	[description] [nvarchar](max) NOT NULL,
	[penDate] [datetime] NOT NULL,
	[ruleID] [int] NOT NULL,
	[penStatus] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[penID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[renter]    Script Date: 3/13/2024 6:24:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[renter](
	[renterID] [int] IDENTITY(1,1) NOT NULL,
	[userID] [int] NOT NULL,
	[roomID] [int] NULL,
	[renterStatus] [bit] NOT NULL,
	[renterHaveRoom] [bit] NOT NULL,
	[CGRScore] [int] NOT NULL,
	[balance] [money] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[renterID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[request]    Script Date: 3/13/2024 6:24:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[request](
	[requestID] [int] IDENTITY(1,1) NOT NULL,
	[renterID] [int] NOT NULL,
	[requestType] [int] NOT NULL,
	[title] [nvarchar](max) NOT NULL,
	[description] [nvarchar](max) NOT NULL,
	[createAt] [datetime] NOT NULL,
	[resStatus] [nvarchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[requestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[room]    Script Date: 3/13/2024 6:24:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[room](
	[roomID] [int] IDENTITY(1,1) NOT NULL,
	[roomFloor] [int] NOT NULL,
	[roomNumber] [int] NOT NULL,
	[roomSize] [int] NOT NULL,
	[roomImg] [nvarchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[roomID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[roomItem]    Script Date: 3/13/2024 6:24:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roomItem](
	[roomItemID] [int] IDENTITY(1,1) NOT NULL,
	[roomID] [int] NOT NULL,
	[itemID] [int] NOT NULL,
	[quantity] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[roomItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[rule]    Script Date: 3/13/2024 6:24:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rule](
	[ruleID] [int] IDENTITY(1,1) NOT NULL,
	[ruleName] [nvarchar](max) NOT NULL,
	[img] [nvarchar](max) NOT NULL,
	[scoreChange] [int] NOT NULL,
	[penMoney] [money] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ruleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[security]    Script Date: 3/13/2024 6:24:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[security](
	[seID] [int] IDENTITY(1,1) NOT NULL,
	[userID] [int] NOT NULL,
	[sShift] [bit] NOT NULL,
	[seStatus] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[seID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usage]    Script Date: 3/13/2024 6:24:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usage](
	[usageID] [int] IDENTITY(1,1) NOT NULL,
	[roomID] [int] NOT NULL,
	[electricNum] [float] NOT NULL,
	[waterBlock] [float] NOT NULL,
	[createAt] [datetime] NOT NULL,
	[payAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[usageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user]    Script Date: 3/13/2024 6:24:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user](
	[userID] [int] IDENTITY(1,1) NOT NULL,
	[userName] [nvarchar](max) NOT NULL,
	[userGender] [nvarchar](10) NOT NULL,
	[userBirth] [date] NOT NULL,
	[userAddress] [nvarchar](max) NOT NULL,
	[userPhone] [nvarchar](20) NOT NULL,
	[userAvatar] [nvarchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[userID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[account] ON 

INSERT [dbo].[account] ([userID], [userMail], [userPassword], [userRole]) VALUES (1, N'maingoctu@gmail.com', N'pass1234', 1)
INSERT [dbo].[account] ([userID], [userMail], [userPassword], [userRole]) VALUES (2, N'nguyenhuong@gmail.com', N'pass1234', 1)
INSERT [dbo].[account] ([userID], [userMail], [userPassword], [userRole]) VALUES (3, N'phamvannam@gmail.com', N'pass1234', 1)
SET IDENTITY_INSERT [dbo].[account] OFF
GO
SET IDENTITY_INSERT [dbo].[bill] ON 

INSERT [dbo].[bill] ([billID], [roomID], [service], [electric], [water], [roomFee], [other], [penMoney], [createAt], [deadline], [payAt]) VALUES (1, 1, 250000.0000, 840000.0000, 82500.0000, 3500000.0000, 0.0000, 0.0000, CAST(N'2022-01-30T00:00:00.000' AS DateTime), CAST(N'2022-02-15T00:00:00.000' AS DateTime), CAST(N'2022-02-10T12:00:00.000' AS DateTime))
INSERT [dbo].[bill] ([billID], [roomID], [service], [electric], [water], [roomFee], [other], [penMoney], [createAt], [deadline], [payAt]) VALUES (2, 2, 250000.0000, 848000.0000, 61000.0000, 3000000.0000, 0.0000, 0.0000, CAST(N'2022-05-30T00:00:00.000' AS DateTime), CAST(N'2022-06-15T00:00:00.000' AS DateTime), CAST(N'2022-06-14T12:00:00.000' AS DateTime))
INSERT [dbo].[bill] ([billID], [roomID], [service], [electric], [water], [roomFee], [other], [penMoney], [createAt], [deadline], [payAt]) VALUES (3, 3, 250000.0000, 912000.0000, 91050.0000, 2500000.0000, 0.0000, 0.0000, CAST(N'2022-09-30T00:00:00.000' AS DateTime), CAST(N'2022-10-15T00:00:00.000' AS DateTime), CAST(N'2022-10-14T12:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[bill] OFF
GO
SET IDENTITY_INSERT [dbo].[guideline] ON 

INSERT [dbo].[guideline] ([guideID], [guideName], [img]) VALUES (1, N'Fire Safety Guidelines', N'./Image/guideline/guideline1.jpg')
INSERT [dbo].[guideline] ([guideID], [guideName], [img]) VALUES (2, N'Room Cleaning Guidelines', N'./Image/guideline/guideline2.jpg')
INSERT [dbo].[guideline] ([guideID], [guideName], [img]) VALUES (3, N'Noise Reduction Guidelines', N'./Image/guideline/guideline3.jpg')
SET IDENTITY_INSERT [dbo].[guideline] OFF
GO
SET IDENTITY_INSERT [dbo].[item] ON 

INSERT [dbo].[item] ([itemID], [itemName], [itemImg]) VALUES (1, N'Chair', N'./Image/item/chair.jpg')
INSERT [dbo].[item] ([itemID], [itemName], [itemImg]) VALUES (2, N'Table', N'./Image/item/table.jpg')
INSERT [dbo].[item] ([itemID], [itemName], [itemImg]) VALUES (3, N'Single Bed', N'./Image/item/single_bed.jpg')
SET IDENTITY_INSERT [dbo].[item] OFF
GO
SET IDENTITY_INSERT [dbo].[news] ON 

INSERT [dbo].[news] ([newID], [newTitle], [description], [img], [creatAt]) VALUES (13, N'THÔNG TIN Y TẾ - PHÒNG CHỐNG DỊCH BỆNH MÙA ĐÔNG XUÂN', N'ád', N'dasas', CAST(N'2024-03-11T23:29:12.230' AS DateTime))
INSERT [dbo].[news] ([newID], [newTitle], [description], [img], [creatAt]) VALUES (1005, N'Đặng Quốc Việt', N'aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa', N'hihi', CAST(N'2024-03-05T13:29:40.317' AS DateTime))
SET IDENTITY_INSERT [dbo].[news] OFF
GO
SET IDENTITY_INSERT [dbo].[penalty] ON 

INSERT [dbo].[penalty] ([penID], [reportID], [accuseID], [roomID], [description], [penDate], [ruleID], [penStatus]) VALUES (1, 1, 2, 1, N'Smoking in the room', CAST(N'2022-01-15T10:30:00.000' AS DateTime), 1, 1)
INSERT [dbo].[penalty] ([penID], [reportID], [accuseID], [roomID], [description], [penDate], [ruleID], [penStatus]) VALUES (2, 2, 3, 2, N'Making excessive noise', CAST(N'2022-01-17T09:45:00.000' AS DateTime), 2, 1)
INSERT [dbo].[penalty] ([penID], [reportID], [accuseID], [roomID], [description], [penDate], [ruleID], [penStatus]) VALUES (3, 3, 4, 3, N'Keeping a pet in the room', CAST(N'2022-01-19T14:20:00.000' AS DateTime), 3, 1)
SET IDENTITY_INSERT [dbo].[penalty] OFF
GO
SET IDENTITY_INSERT [dbo].[renter] ON 

INSERT [dbo].[renter] ([renterID], [userID], [roomID], [renterStatus], [renterHaveRoom], [CGRScore], [balance]) VALUES (1, 1, 1, 1, 1, 750, 1500.0000)
INSERT [dbo].[renter] ([renterID], [userID], [roomID], [renterStatus], [renterHaveRoom], [CGRScore], [balance]) VALUES (2, 2, 2, 1, 1, 800, 1800.0000)
INSERT [dbo].[renter] ([renterID], [userID], [roomID], [renterStatus], [renterHaveRoom], [CGRScore], [balance]) VALUES (3, 3, 3, 1, 1, 700, 2000.0000)
SET IDENTITY_INSERT [dbo].[renter] OFF
GO
SET IDENTITY_INSERT [dbo].[room] ON 

INSERT [dbo].[room] ([roomID], [roomFloor], [roomNumber], [roomSize], [roomImg]) VALUES (1, 1, 101, 1, N'./Image/room/room1.jpg')
INSERT [dbo].[room] ([roomID], [roomFloor], [roomNumber], [roomSize], [roomImg]) VALUES (2, 1, 102, 2, N'./Image/room/room2.jpg')
INSERT [dbo].[room] ([roomID], [roomFloor], [roomNumber], [roomSize], [roomImg]) VALUES (3, 1, 103, 3, N'./Image/room/room3.jpg')
SET IDENTITY_INSERT [dbo].[room] OFF
GO
SET IDENTITY_INSERT [dbo].[roomItem] ON 

INSERT [dbo].[roomItem] ([roomItemID], [roomID], [itemID], [quantity]) VALUES (1, 1, 1, 3)
INSERT [dbo].[roomItem] ([roomItemID], [roomID], [itemID], [quantity]) VALUES (2, 1, 2, 2)
INSERT [dbo].[roomItem] ([roomItemID], [roomID], [itemID], [quantity]) VALUES (3, 1, 3, 1)
GO
SET IDENTITY_INSERT [dbo].[roomItem] OFF
GO
SET IDENTITY_INSERT [dbo].[rule] ON 

INSERT [dbo].[rule] ([ruleID], [ruleName], [img], [scoreChange], [penMoney]) VALUES (1, N'No Smoking', N'./Image/rule/rule1.jpg', -10, 100.0000)
INSERT [dbo].[rule] ([ruleID], [ruleName], [img], [scoreChange], [penMoney]) VALUES (2, N'Quiet Hours', N'./Image/rule//rule2.jpg', -5, 50.0000)
INSERT [dbo].[rule] ([ruleID], [ruleName], [img], [scoreChange], [penMoney]) VALUES (3, N'No Pets Allowed', N'./Image/rule//rule3.jpg', -15, 150.0000)
SET IDENTITY_INSERT [dbo].[rule] OFF
GO
SET IDENTITY_INSERT [dbo].[security] ON 

INSERT [dbo].[security] ([seID], [userID], [sShift], [seStatus]) VALUES (1, 15, 1, 1)
INSERT [dbo].[security] ([seID], [userID], [sShift], [seStatus]) VALUES (2, 16, 1, 1)
INSERT [dbo].[security] ([seID], [userID], [sShift], [seStatus]) VALUES (3, 17, 0, 1)
SET IDENTITY_INSERT [dbo].[security] OFF
GO
SET IDENTITY_INSERT [dbo].[usage] ON 

INSERT [dbo].[usage] ([usageID], [roomID], [electricNum], [waterBlock], [createAt], [payAt]) VALUES (1, 1, 210, 16.5, CAST(N'2022-02-15T00:00:00.000' AS DateTime), CAST(N'2022-02-10T12:00:00.000' AS DateTime))
INSERT [dbo].[usage] ([usageID], [roomID], [electricNum], [waterBlock], [createAt], [payAt]) VALUES (2, 2, 212, 12.2, CAST(N'2022-06-15T00:00:00.000' AS DateTime), CAST(N'2022-06-14T12:00:00.000' AS DateTime))
INSERT [dbo].[usage] ([usageID], [roomID], [electricNum], [waterBlock], [createAt], [payAt]) VALUES (3, 3, 228, 18.21, CAST(N'2022-10-15T00:00:00.000' AS DateTime), CAST(N'2022-10-14T12:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[usage] OFF
GO
SET IDENTITY_INSERT [dbo].[user] ON 

INSERT [dbo].[user] ([userID], [userName], [userGender], [userBirth], [userAddress], [userPhone], [userAvatar]) VALUES (1, N'Mai Ngọc Tú', N'Male', CAST(N'2002-05-15' AS Date), N'180 Phố Vọng, Thanh Xuân, Hà Nội', N'0987654321', N'./Image/user/avatar1.jpg')
INSERT [dbo].[user] ([userID], [userName], [userGender], [userBirth], [userAddress], [userPhone], [userAvatar]) VALUES (2, N'Vu Duy Hung', N'Female', CAST(N'2002-10-20' AS Date), N'56 Lê Lợi, Quận 1, Thành phố Hồ Chí Minh', N'0981234567', N'./Image/user/avatar2.jpg')
INSERT [dbo].[user] ([userID], [userName], [userGender], [userBirth], [userAddress], [userPhone], [userAvatar]) VALUES (3, N'Phạm Quang Thắng', N'Male', CAST(N'2002-03-02' AS Date), N'39 Lê Hồng Phong, TP. Hải Phòng', N'0976543210', N'./Image/user/avatar3.jpg')
SET IDENTITY_INSERT [dbo].[user] OFF
GO
ALTER TABLE [dbo].[account]  WITH CHECK ADD FOREIGN KEY([userID])
REFERENCES [dbo].[user] ([userID])
GO
ALTER TABLE [dbo].[bill]  WITH CHECK ADD FOREIGN KEY([roomID])
REFERENCES [dbo].[room] ([roomID])
GO
ALTER TABLE [dbo].[penalty]  WITH CHECK ADD FOREIGN KEY([accuseID])
REFERENCES [dbo].[renter] ([renterID])
GO
ALTER TABLE [dbo].[penalty]  WITH CHECK ADD FOREIGN KEY([reportID])
REFERENCES [dbo].[renter] ([renterID])
GO
ALTER TABLE [dbo].[penalty]  WITH CHECK ADD FOREIGN KEY([roomID])
REFERENCES [dbo].[room] ([roomID])
GO
ALTER TABLE [dbo].[penalty]  WITH CHECK ADD FOREIGN KEY([ruleID])
REFERENCES [dbo].[rule] ([ruleID])
GO
ALTER TABLE [dbo].[renter]  WITH CHECK ADD FOREIGN KEY([roomID])
REFERENCES [dbo].[room] ([roomID])
GO
ALTER TABLE [dbo].[renter]  WITH CHECK ADD FOREIGN KEY([userID])
REFERENCES [dbo].[user] ([userID])
GO
ALTER TABLE [dbo].[request]  WITH CHECK ADD FOREIGN KEY([renterID])
REFERENCES [dbo].[renter] ([renterID])
GO
ALTER TABLE [dbo].[roomItem]  WITH CHECK ADD FOREIGN KEY([itemID])
REFERENCES [dbo].[item] ([itemID])
GO
ALTER TABLE [dbo].[roomItem]  WITH CHECK ADD FOREIGN KEY([roomID])
REFERENCES [dbo].[room] ([roomID])
GO
ALTER TABLE [dbo].[security]  WITH CHECK ADD FOREIGN KEY([userID])
REFERENCES [dbo].[user] ([userID])
GO
ALTER TABLE [dbo].[usage]  WITH CHECK ADD FOREIGN KEY([roomID])
REFERENCES [dbo].[room] ([roomID])
GO
USE [master]
GO
