



.title-text {
    font-size: 280%;
}

.step-reset {
    padding-right: 180px;
}

.form-text {
    font-size: 85%;
}

.submit-password {
    margin-top: 10px;
}

.get-password, .back-login {
    background-color: #30BD36;
    color: white;
    font-weight: 600;
    border-radius: 6px;
    padding: 5px ;
    margin-right: 10px;
    cursor: pointer;
}

.back-login {
    background-color: #5A84E6;
    text-decoration: none;
}

.notice-message {
    color: red;
    margin-top: 10px;
}

input{
    height: 25px
}